<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<meta charset="UTF-8"></meta>
<head>
<style>
div{
border-style: solid;
    border-color: green;
    border-width: 3px;
    padding:10px;
    margin:10px;
width:200px;
}
</style>
</head>            					
<body>
	
	
	<!-- <h4>Role: <span th:text="${loggedInUserRole}"></span></h4><br></br> -->
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<br></br>
	<br></br>
	
	
	<h3>Hello, <span th:text="${loggedInUser}"></span>!</h3><br></br>
	<div>
	<h3>Manage Clients</h3><br></br>
	<a th:href="@{/dashboard/addclient}">Add new client</a><br></br>
	<a th:href="@{/dashboard/clientslist}">Clients list</a><br></br>
	</div>
	
	<div>
	<h3>Settings</h3><br></br>
	<a th:href="@{/settings}">User settings</a>
	</div>
	
  <div sec:authorize="hasRole('ROLE_ADMIN')">
  <!-- <div> -->
	<h3>Admin panel</h3>
   <a th:href="@{/admin/createuser}">Create new user</a><br></br>
   <a th:href="@{/admin/allusers}">Manage users</a>
</div>


	
</body>
</html>