<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head>
</head>
<body>
	<h3>Create new user</h3><br></br>
 
 <form action="#" th:action="@{/admin/createuser}" th:object="${user}" method="post">
    	<label for="username">Username: </label>
    	<p><input type="text" name="username" th:value="*{username}" placeholder="Username"/></p>
    	<label for="password">Username password: </label>
    	<p><input type="password" name="password" th:value="password" placeholder="Password"/></p>
    	<label for="email">E-mail address: </label>
    	<p><input type="text" name="email" th:value="*{email}" placeholder="Email"/></p>
    	<select th:field="*{roles}">
  		<option th:each="role : ${roles}" 
          th:value="${role.id}" 
          th:utext="${role.name}">Role name</option>
		</select>
    	
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>