<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8"></meta>
<head>
</head>
<body>
	<a th:href="@{/logout}">Logout</a>
	<br></br>
	<a th:href="@{/dashboard/addclient}">Add new client</a><br></br>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
   <a th:href="@{/admin/createuser}">Create new user</a><br></br>
   <a th:href="@{/dashboard/clientslist}">Clients list</a><br></br>
</div>
	
</body>
</html>